<?xml version="1.0" encoding="GBK"?>
<configuration scan="true" scanPeriod="60 seconds">
	<contextName>valuation</contextName>
	<!--statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/ -->
	<timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>debug</level>
		</filter>
		<encoder>
			<pattern>%date{ISO8601} %-4relative [%thread] %.-1level [%-20logger{20}] - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE_ALL" class="ch.qos.logback.classic.sift.SiftingAppender">
		<discriminator>
			<Key>module</Key>
			<DefaultValue>yumi</DefaultValue>
		</discriminator>
		<sift>
			<appender name="ALL_${module}"
				class="ch.qos.logback.core.rolling.RollingFileAppender">
				<file>./logs/${module}_all.log</file>
				<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
					<level>DEBUG</level>
				</filter>
				<!-- 固定大小循环滚动日志 -->

				<rollingPolicy
					class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
					<fileNamePattern>./logs/${module}_all.%i.log</fileNamePattern>
					<minIndex>1</minIndex>
					<maxIndex>10</maxIndex>
				</rollingPolicy>
				<triggeringPolicy
					class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
					<maxFileSize>512MB</maxFileSize>
				</triggeringPolicy>

				<!-- 按照每天进行日志滚动 -->

				<!-- <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"> 
					<fileNamePattern>../logs/task_all.%d{yyyy-MM-dd}-%i.log </fileNamePattern> 
					<MaxHistory>30</MaxHistory> <minIndex>1</minIndex> <maxIndex>4</maxIndex> 
					<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP"> 
					<maxFileSize>10MB</maxFileSize> </timeBasedFileNamingAndTriggeringPolicy> 
					</rollingPolicy> -->

				<encoder>
					<pattern>%date{ISO8601} %-4relative [%thread] %.-1level [%-20logger{20}] - %msg%n</pattern>
					<charset>UTF-8</charset>
				</encoder>
			</appender>
		</sift>
	</appender>
	<appender name="FILE_ERROR" class="ch.qos.logback.classic.sift.SiftingAppender">
		<discriminator>
			<Key>module</Key>
			<DefaultValue>yumi</DefaultValue>
		</discriminator>
		<sift>
			<appender name="FILE_ERROR_${channel}"
				class="ch.qos.logback.core.rolling.RollingFileAppender">
				<file>./logs/${module}_error.log</file>
				<append>true</append>
				<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
					<level>warn</level>
				</filter>
				<rollingPolicy
					class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
					<fileNamePattern>./logs/${module}_error.%i.log</fileNamePattern>
					<minIndex>1</minIndex>
					<maxIndex>4</maxIndex>
				</rollingPolicy>
				<triggeringPolicy
					class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
					<maxFileSize>100MB</maxFileSize>
				</triggeringPolicy>
				<encoder>
					<pattern>%date{ISO8601} %-4relative [%thread] %.-1level [%-20logger{20}] - %msg%n</pattern>
					<charset>UTF-8</charset>
				</encoder>
			</appender>
		</sift>
	</appender>

	<logger name="org" level="info" />
	<logger name="com.yumi" level="debug" />

	<root level="info">
		<appender-ref ref="FILE_ALL" />
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE_ERROR" />
	</root>

</configuration>
